* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}
.app-container {
    border: 1px solid;
    padding: 1em;
    width: fit-content;
    border-radius: .5em;
}
.button, .input {
    padding: .2em;
}
.output {
    margin: 1em 0;
    text-align: center;
}
